.table {
    margin-top: 10px;

    td {
        line-height: normal;
    }
}

.buttons-row {
    white-space: nowrap;
}

.no-connections {
    text-align: center;
}

.filter-buttons {
    padding-top: 32px;
}

.row {
    margin-right: 0;
}
