.table {
    margin-top: 20px;

    td {
        line-height: normal;
    }
}

.role {
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
}

.buttons-row {
    white-space: nowrap;
}

#accountActivated {
    margin-top: 10px;
}
