<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Ticket booking</h4>
</div>
<div class="modal-body">

    <div *ngIf="!ticket">
        <div class="row">
            <div class="col-md-4">{{'startPlace' | translate}}</div>
            <div class="col-md-8">{{connection.startPlace}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'startPlace' | translate}}</div>
            <div class="col-md-8">{{connection.endPlace}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'distance' | translate}}</div>
            <div class="col-md-8">{{connection.distance}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'departureDate' | translate}}</div>
            <div class="col-md-8">{{connection.departureDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'arrivalDate' | translate}}</div>
            <div class="col-md-8">{{connection.arrivalDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'places' | translate}}</div>
            <div class="col-md-8">{{connection.places - connection.takenPlaces}} / {{connection.places}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{'price' | translate}}</div>
            <div class="col-md-8">{{(connection.distance * pricePerKilometer).toFixed(2)}} PLN</div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="bookTicket()">Book ticket!</button>
            </div>
        </div>
    </div>

    <div *ngIf="ticket">
        <div class="alert alert-success" role="alert">
            <strong>Ticket booked successfully!</strong> You can check your tickets details in <strong>My tickets</strong> section.
        </div>
        <div class="row">
            <div class="col-md-4">Ticket number</div>
            <div class="col-md-8">{{ticket.ticketNumber}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Price</div>
            <div class="col-md-8">{{ticket.price.toFixed(2)}} PLN</div>
        </div>
        <div class="row">
            <div class="col-md-4">Book date</div>
            <div class="col-md-8">{{ticket.reservationDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-12"><a href="/api/ticket-pdf/{{ticket.id}}">Click here to download your ticket</a></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Close
    </button>
</div>
