<ngb-tabset>
    <ngb-tab title="Users">
        <template ngbTabContent>
            <app-users-admin></app-users-admin>
        </template>
    </ngb-tab>
    <ngb-tab title="Price table">
        <template ngbTabContent>
            <app-price-table-admin></app-price-table-admin>
        </template>
    </ngb-tab>
    <ngb-tab title="Connections">
        <template ngbTabContent>
            <app-connections-admin></app-connections-admin>
        </template>
    </ngb-tab>
    <ngb-tab title="Tickets">
        <template ngbTabContent>
            <app-tickets-admin></app-tickets-admin>
        </template>
    </ngb-tab>
</ngb-tabset>
